@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Star Jedi';
  src: url('/fonts/Starjedi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .font-starwars {
    font-family: 'Star Jedi', sans-serif;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}